<div class="container-fluid">


    <h2>Review Booking</h2>
    <hr>
    <div class="row">
        <div class="col-md-6 col-lg-4 mx-auto">

            <form>
                <h5>Traveller Information</h5>
                <hr>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="name" />
                </div>
                <div class="form-group">
                    <label for="price">Email Id</label>
                    <input type="email" class="form-control" name="email" />
                </div>
                <div class="form-group">
                    <label for="Contact">Contact No.</label>
                    <input type="number" class="form-control" name="Contact" />
                </div>
                <div class="form-group">
                    <label for="Commanly">Commanly Requested</label>
                    <div class="form-control">
                        <input type="checkbox" />
                        <span>Non smoking</span>&nbsp;
                        <input type="checkbox" />
                        <span>Late check-in</span>&nbsp;
                        <input type="checkbox" />
                        <span>Twin beds</span>
                    </div>
                </div>
                <div class="form-group">

                </div>
                <div class="form-group">

                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success" name="save">Save</button>
                </div>
            </form>

        </div>

        <div class="col-md-6 col-lg-4 mx-auto">
            <div class="card" style="width: 18rem;">

                <div class="card-body">

                    <table>
                        <tr>
                            <td>
                                <b>Base Price</b>
                            </td>
                            <td>2500</td>
                        </tr>
                        <tr>
                            <td>
                                <b>Discounted Price</b>
                            </td>
                            <td>
                                500

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Taxes & Service fees</b>
                            </td>
                            <td>
                                100
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Total Payable</b>
                            </td>
                            <td>
                                <span class="badge badge-success">INR 1900</span>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="2">
                                <a href="#" class="btn btn-primary">Pay now</a>
                            </td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
       
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12 mx-auto">
                <h5>Hotel Policies you should know</h5>
                <p >
                    According to government regulations, a valid Photo ID has to be carried by every person above the age of 18 staying at Country
                    Inn & Suites by Radisson, Candolim Goa. The identification proofs accepted are Drivers License, Voters Card,
                    Passport, Ration Card. Without valid ID the guest will not be allowed to check in.
                </p>

        </div>
            
    </div>
</div>